<div class="user-home">
    <div class="row content">
        <div class="col-md-8 col-md-offset-2">
            <h1>Welcome to the California Notification System</h1>

            <p>As an Administrator you can send notifications to California residents that impact their safety.</p>
        </div>
    </div>
    <div class="row links">
        <div class="col-md-3 col-md-offset-3"><a routerLink="profile" routerLinkActive="active">Change Profile</a></div>
        <div class="col-md-3"><a routerLink="notification" routerLinkActive="active">Send Notifications</a></div>
    </div>
</div>