<h1>California Notification System</h1>
<h2>Welcome!</h2>
<div class="row login">
    <div class="col-md-8 col-md-offset-2">
        <form (ngSubmit)="doLogin()" #loginForm="ngForm">
            <div class="form-group row">
                <label for="user-email-input" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="" required [(ngModel)]="loginUser.email" name="user-email-input" #userEmail="ngModel"
                           [disabled]="isSignupVisible">
                </div>
                <div [hidden]="userEmail.valid || userEmail.pristine || isSignupVisible" class="col-md-4 alert alert-danger"> Email is required </div>
            </div>

            <div class="form-group row">
                <label for="user-pwd-input" class="col-md-2 col-form-label">Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" value="" required [(ngModel)]="loginUser.password" name="user-pwd-input" #userPassword="ngModel"
                           [disabled]="isSignupVisible">
                </div>
                <div [hidden]="userPassword.valid || userPassword.pristine || isSignupVisible" class="col-md-4 alert alert-danger"> Password is required </div>
            </div>

            <button type="submit" pButton icon="fa fa-check" label="Login" [disabled]="!loginForm.form.valid"></button>
        </form>
    </div>
</div>

<div *ngIf="infoMessages && infoMessages.length > 0" class="info-msg"><p-messages [value]="infoMessages"></p-messages></div>
<div *ngIf="!infoMessages || infoMessages.length == 0" class="no-acct-link">Don't have an account? <span (click)="isSignupVisible = true">Create Account</span></div>

<div *ngIf="isSignupVisible" class="row signup">
    <div class="col-md-8 col-md-offset-2">
        <adpq-user-form [submitLabel]="'Create'" [user]="newUser" (onSubmit)="onSignupFormSubmit($event)"></adpq-user-form>
    </div>
</div>
<img class="background" src="../images/firefighters-training-live-fire-37543.jpg" alt="firefighters"/>