<div class="user-home">
    <div class="row content">
        <div class="col-md-8 col-md-offset-2">
            <h1>Welcome to the California Notification System</h1>

            <p>As a California resident you can update your profile to change your notifications preferences and start receiving notifications that affect you.</p>
        </div>
    </div>
    <div class="row links">
        <div class="col-md-3 col-md-offset-3"><a routerLink="profile" routerLinkActive="active">Change Profile</a></div>
        <div class="col-md-3"><a routerLink="notifications" routerLinkActive="active">View Notifications</a></div>
    </div>
</div>