img.background {
    background-image: url("../images/firefighters-training-live-fire-37543.jpg");
    background-repeat: no-repeat;
    width: 2400px;
    height: 1602px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {    
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1, h2 {
    color: #f8f8ff;
}

h1{
    font-size: 4em;
}

div.login {
    margin-top: 80px;
    padding: 40px;
}

div.login .col-md-8,
div.signup .col-md-8 {
    border-radius: 25px;
    border: 1px solid black;
    background: #f8f8ff;
    padding: 30px;
}

div.signup {
    margin-top: 50px;
    padding: 40px;
}

div.no-acct-link {
    font-weight: 400;
    text-align: center;
    color: #f8f8ff;
}

div.info-msg {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.no-acct-link span {
    text-decoration: underline;
    cursor: pointer;
    color: #87CEFA;
    font-weight: 700;
    font-size: 1.5em;
}

.alert {
    padding: 6px;
    margin-bottom: 0px;
}

button[disabled] {
    opacity: 0.4;
}