html {
    height: 100%;
}
body {
    position: relative;
    min-height:100%; 

    padding-top: 50px;
    padding-bottom: 20px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
header {
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #87CEFA;
    width: 100%;
    color: #f8f8ff;
    padding-top: 8px;
    padding-right: 25px;
}
/* Wrapping element */

.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    color: #f8f8ff;
    font-size: 1.4em;
    text-align: center;
    background-color: #87CEFA;
    height: 51px;
    padding-top: 10px;
}
.content {
    padding-bottom: 50px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

adpq-login h1,
adpq-login h4 {
    text-align: center;
    color: #f8f8ff;
}

adpq-login h1 {
    font-size: 4em;
}

.user-form p-checkbox{
    float: right;
}

.user-home {
    text-align: center;
}

.user-home .content,
.user-profile .content {
    font-size: 2em !important;
    margin-bottom: 25px;
}
.user-home .content h1 {
    margin-bottom: 25px;
}

.alert {
    padding: 6px;
    margin-bottom: 0px;
}

img.background {
    background-repeat: no-repeat;
    width: 2400px;
    height: 1602px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {    
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div.login {
    margin-top: 80px;
    padding: 40px;
}

div.login .col-md-8,
div.signup .col-md-8 {
    border-radius: 25px;
    border: 1px solid black;
    background: #f8f8ff;
    padding: 30px;
}

div.signup {
    margin-top: 50px;
    padding: 40px;
}

div.no-acct-link {
    font-weight: 400;
    text-align: center;
    color: #f8f8ff;
}

div.info-msg {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.no-acct-link span {
    text-decoration: underline;
    cursor: pointer;
    color: #87CEFA;
    font-weight: 700;
    font-size: 1.5em;
}

.pwd-chg-link {
    text-decoration: underline;
    cursor: pointer;
    color: #87CEFA;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 20px;    
}

button[disabled] {
    opacity: 0.4;
}
p-breadcrumb .fa.fa-home {
    cursor: pointer;
}
.header-logout {
    float: right;
    cursor: pointer;
    font-size: 1.3em;
    
    /*position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    color: #87CEFA;*/
}
.notif-msg-err {
    margin-top: 10px;
    min-height: 34px;
    padding-left: 25px;
}

.admin-notifs {
    margin-top: 20px;
}
.admin-notifs > div {
    margin-bottom: 20px;
}
.user-name {
    font-size: 1.2em;
    margin-left: 15px;
    font-style: italic;
}

.notif-table .notif-msg {
    width: 300px;
}

.notif-table .notif-cb {
    width: 34px;
}

.notif-table .notif-type {
    width: 55px;
}

.admin-metrics .header {
    padding-bottom: 25px;
}
.admin-metrics .chart {
    padding-top: 60px;
}
.signup-zip {
    width: 65px;
}
.fa.fa-asterisk {
    padding-left: 5px;
    font-size: 0.6em;
    top: -5px;
    position: relative;
}